body
{
font:"raleway",san-senif;
color:rgba(0,0,0,5);
text-align: center;
text-transform: uppercase;
letter-spacing: 0.5cm;
top:15;
background: linear-gradient(to right,red,yellow	);

}
h1{
font:900 3.5em "raleway",san-senif;
color:rgba(0,0,0,2);
text-align: center;
text-transform: uppercase;
text-transform: none;
letter-spacing: 1cm;
width:100%;
}

h2{
	font:600 3.5em "raleway",san-senif;
color:rgba(0,0,0,0.5);
text-align: center;
text-transform: uppercase;
letter-spacing: 0.1cm;
width:100%;

}
